@use "foundation/global";

// Component セクションタイトル
//--------------------------------------------------------------------------

.c-section-title {
  width: 100%;
  text-align: center;
}

.c-section-title__en {
  @include global.fz(40, 52);
  @include global.lh(1.27);
  font-family: global.$font-family-en01;
  font-weight: 700;
  letter-spacing: 4px;

  @include global.mq(md) {
    letter-spacing: 10.4px;
  }
}

.c-section-title__ja {
  display: block;
  margin-top: 3px;
  @include global.fz(12, 14);
  @include global.lh(1.16);
  font-weight: 700;

  @include global.mq(md) {
    margin-top: 6px;
  }
}

.c-section-title--align-left {
  text-align: left;
}