@use "foundation/global";

// Component タイトル
//--------------------------------------------------------------------------

.c-section-title {
  display: inline-block;
  &__en {
    @include global.fz(40, 52);
    @include global.lh(1.27);
    font-family: global.$font-family-en01;
    font-weight: 700;
    letter-spacing: 4px;

    @include global.mq(md) {
      letter-spacing: 10.4px;
    }
  }

  &__ja {
    display: block;
    margin-top: 3px;
    @include global.fz(12, 14);
    @include global.lh(1.16);
    font-weight: 700;

    @include global.mq(md) {
      margin-top: 6px;
    }
  }
}