@use "foundation/global";

// Layout トップページ
//--------------------------------------------------------------------------
.l-home {
  overflow: hidden;

  //メインビジュアル
  &__mv {
    display: flex;
    width: 100%;
    height: auto;
  }

  //コンセプト
  &__concept {
    width: 100%;
    padding-top: 120px;
    margin: 0 auto;
    max-width: 1280px;
  }

  //スペシャルランチ
  &__lunch {
    margin-top: 120px;

    @include global.mq(md) {
      margin-top: 240px;
    }
  }


  //グランドメニュー
  &__grand-menu {
    margin-top: 120px;

    @include global.mq(md) {
      margin-top: 240px;
    }
  }

  //ギャラリー
  &__gallery {
    margin-top: 180px;

    @include global.mq(md) {
      margin-top: 300px;
    }
  }
}