@use "foundation/global";

// Layout トップページ
//--------------------------------------------------------------------------
.l-home {
  overflow: hidden;

  &__mv {
    display: flex;
    width: 100%;
    height: auto;
  }

  &__concept {
    position: relative;
    width: 100%;
    padding-top: 120px;
    margin: 0 auto;
    max-width: 1280px;
  }

  &__special-lunch {
    
  }
}