@use "foundation/global";

// Layout トップページ
//--------------------------------------------------------------------------
.l-home {
  overflow: hidden;
}

//コンセプト
.l-home__concept {
  width: 100%;
  padding-top: 120px;
  margin: auto;
  max-width: 1280px;
}

//スペシャルランチ
.l-home__lunch {
  margin-top: 120px;

  @include global.mq(md) {
    margin-top: 240px;
  }
}

//グランドメニュー
.l-home__grand-menu {
  margin-top: 120px;

  @include global.mq(md) {
    margin-top: 240px;
  }
}

//ギャラリー
.l-home__gallery {
  margin-top: 180px;

  @include global.mq(md) {
    margin-top: 300px;
  }
}

//お知らせ
.l-home__news {
  margin-top: 120px;
}
