@use "foundation/global";

// Layout インナー
//--------------------------------------------------------------------------

.l-inner {
  max-width: global.$layout-width-inner_sp;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;

  @include global.mq(md) {
    max-width: global.$layout-width-inner_pc;
    padding: 0 40px;
  }
}