@use "foundation/global";

// Layout 下層ページ メニュー
//--------------------------------------------------------------------------

.l-lower-menu {
  margin-top: 60px;

  @include global.mq(md) {
    margin-top: 82px;
  }
}

.l-lower-menu__tab {
  max-width: 842px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.l-lower-menu__list {
  margin-top: 48px;

  @include global.mq(md) {
    margin-top: 68px;
  }
}