@use "foundation/global";

// Project アクセス
//--------------------------------------------------------------------------

.p-access {
  position: relative;
  max-width: 1280px;
  width: 100%;
  margin: auto;

  &::before {
    content: "";
    position: absolute;
    right: -38px;
    top: -170px;
    height: 180px;
    width: 188px;
    background-image: url(../img/webp/bg-bread.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    @include global.browser("ie") {
      background-image: url(../img/common/bg-bread.png);
    }
    @include global.browser("safari") {
      background-image: url(../img/common/bg-bread.png);
    }

    @include global.mq(md) {
      top: -250px;
      right: -73px;
      height: 359px;
      width: 374px;
    }
  }
}

.p-access__inner {
  position: relative;
  max-width: 688px;
  width: 100%;
  margin: 40px auto 0;
  padding: 0 20px;

  @include global.mq(md) {
    max-width: 768px;
    padding: 0 40px;
  }

  &::after {
    content: "";
    position: absolute;
    top: -223px;
    left: calc(50% - 215px);
    width: 200px;
    height: 172px;
    background-image: url(../img/webp/img-balloon03.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    @include global.browser("ie") {
      background-image: url(../img/common/img-balloon03.png);
    }
    @include global.browser("safari") {
      background-image: url(../img/common/img-balloon03.png);
    }

    @include global.mq(md) {
      top: -257px;
      left: calc(50% - 305px);
      width: 234px;
      height: 200px;
    }
  }
}



