@use "foundation/global";

// Project お知らせカード
//--------------------------------------------------------------------------

.p-card-news {
  $this: &;
  position: relative;
  display: inline-block;
  &:hover {
    #{$this}__img {
      transform: scale(1.05, 1.05);
    }

    #{$this}__body {
      opacity: 0.8;
    }
  }
}

.p-card-news__img-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: calc(209 / 335 * 100%);
}

.p-card-news__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  @include global.object-fit(cover, center);
  transition: transform 0.3s ease-out;
}

.p-card-news__cat {
  display: inline-block;
  position: absolute;
  top: 10px;
  left: -8px;
  padding: 3px 12px 3px 10px;
  background-color: global.$color-main;
  color: global.$color-text-white;
  @include global.fz(12);
  @include global.lh(1.2);
  font-weight: 700;

  @include global.mq(md) {
    padding: 5px 12px 5px 14px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    border-color: transparent global.$color-text-gray transparent transparent;
    border-style: solid;
    border-width: 0 8px 4px 0;
    height: 0;
    width: 0;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: -8px;
    z-index: 1;
    border-color: global.$color-main transparent global.$color-main global.$color-main;
    border-style: solid;
    border-width: 13px 8px 12px 0px;
    width: 0px;
    height: 0px;

    @include global.mq(md) {
      border-width: 12px 8px 12px 0px;
    }
  }
}

.p-card-news__body {
  margin-top: 8px;
  transition: opacity 0.3s ease-out;

  @include global.mq(md) {
    margin-top: 10px;
  }
}

.p-card-news__title {
  @include global.fz(12, 14);
  @include global.lh(1.5, 1.7);
  @include global.line-clamp(3);
  font-weight: 700;
}

.p-card-news__excerpt {
  margin-top: 11px;
  @include global.fz(12, 14);
  @include global.lh(1.5, 2);
  @include global.line-clamp(4);

  @include global.mq(md) {
    @include global.line-clamp(3);
  }
}

.p-card-news__date {
  margin-top: 7px;
  display: inline-block;
  @include global.fz(12);
  @include global.lh(1);

  @include global.mq(md) {
    margin-top: 11px;
  }
}


//--large
.p-card-news--large {
  .p-card-news__cat {
    top: 20px;
    padding: 4px 13px 4px 11px;
    @include global.fz(12, 16);

    @include global.mq(md) {
      padding: 6px 14px 6px 12px;

      &::after {
        border-width: 16px 8px 15px 0px;
      }
    }
  }

  .p-card-news__body {
    @include global.mq(md) {
      margin-top: 12px;
    }
  }

  .p-card-news__title {
    @include global.fz(14, 20);
    @include global.lh(1.7, 1.6);
  }

  .p-card-news__date {
    margin-top: 12px;
    @include global.fz(12, 14);
  }
}
