@use "foundation/global";

// Project カード
//--------------------------------------------------------------------------

//スペシャルランチ
.p-card-lunch {
  &__img-wrapper {
    position: relative;
    width: 100%;
    padding-top: 100%;
  }

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  &__body {
    display: flex;
    margin-top: 8px;

    @include global.mq(md) {
      margin-top: 16px;
    }
  }

  &__label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    background-color: global.$color-text-black;
    color: global.$color-text-white;
    text-align: center;
    @include global.fz(19, 32);
    @include global.lh(1);
    font-family: global.$font-family-en02;
    font-weight: 400;

    @include global.mq(md) {
      width: 49px;
      height: 49px;
    }
  }

  &__title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    width: calc(100% - (24px + 6px));
    margin-left: 6px;
    @include global.fz(14, 18);
    @include global.lh(1.4);
    font-weight: 700;

    @include global.mq(md) {
      width: calc(100% - (49px + 12px));
      margin-left: 12px;
    }
  }
}

//グランドメニュー
.p-card-menu {
  &__img-wrapper {
    position: relative;
    width: 100%;
    padding-top: 100%;
    background-color: global.$color-text-white;
  }

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    border: 8px solid global.$color-text-white;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  &__title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-top: 6px;
    @include global.fz(14, 20);
    @include global.lh(1.2);
    font-weight: 700;

    @include global.mq(md) {
      margin-top: 11px;
    }
  }

  &__price {
    margin-top: 4px;
    @include global.fz(24, 32);
    @include global.lh(1.2);
    font-weight: 400;
    font-family: global.$font-family-en03;

    @include global.mq(md) {
      font-weight: 700;
    }
  }
}