@use "foundation/global";

// Project メニューカード
//--------------------------------------------------------------------------

.p-card-menu__img-wrapper {
  position: relative;
  width: 100%;
  padding-top: 100%;
  background-color: global.$color-text-white;
}

.p-card-menu__img {
  position: absolute;
  top: 0;
  left: 0;
  border: 8px solid global.$color-text-white;
  width: 100%;
  height: 100%;
  @include global.object-fit(cover, center);
}

.p-card-menu__title {
  margin-top: 6px;
  @include global.fz(14, 20);
  @include global.lh(1.5);
  @include global.line-clamp(2);
  font-weight: 700;

  @include global.mq(md) {
    margin-top: 11px;
  }
}

.p-card-menu__price {
  @include global.fz(24, 32);
  @include global.lh(1.2);
  font-weight: 400;
  font-family: global.$font-family-en03;

  @include global.mq(md) {
    font-weight: 700;
  }
}

//--archive
.p-card-menu--archive {
  .p-card-menu__img {
    border: none;
  }

  .p-card-menu__title {
    @include global.fz(14);
  }

  .p-card-menu__price {
    @include global.fz(24);
    text-align: center;

    @include global.mq(md) {
      font-weight: 400;
    }
  }
}
