@use "foundation/global";

// Project サイドバー カード
//--------------------------------------------------------------------------

.p-card-sidebar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  transition: opacity 0.3s;

  &:hover,
  &:focus {
    opacity: 0.8;
  }
}

.p-card-sidebar__img-wrapper {
  position: relative;
  overflow: hidden;
  padding-top: calc(100 / 295 * 100%);
  width: calc(100 / 295 * 100%);

  @include global.mq(md) {
    padding-top: calc(100 / 260 * 100%);
    width: calc(100 / 260 * 100%);
  }
}

.p-card-sidebar__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  @include global.object-fit(cover, center);
}

.p-card-sidebar__body {
  width: calc(182 / 295 * 100%);

  @include global.mq(md) {
    width: calc(146 / 260 * 100%);
  }
}

.p-card-sidebar__cat {
  display: inline-block;
  position: absolute;
  top: 10px;
  left: -8px;
  padding: 3px 12px 3px 10px;
  background-color: global.$color-main;
  color: global.$color-text-white;
  @include global.fz(12);
  @include global.lh(1.2);
  font-weight: 700;
  z-index: 1;

  @include global.mq(md) {
    padding: 5px 12px 5px 14px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    border-color: transparent global.$color-text-gray transparent transparent;
    border-style: solid;
    border-width: 0 8px 4px 0;
    height: 0;
    width: 0;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: -8px;
    z-index: 1;
    border-color: global.$color-main transparent global.$color-main global.$color-main;
    border-style: solid;
    border-width: 9px 8px 11px 0px;
    width: 0px;
    height: 0px;

    @include global.mq(md) {
      border-width: 12px 9px 12px 0px;
    }
  }
}

.p-card-sidebar__title {
  @include global.fz(14);
  @include global.lh(1.71);
  @include global.line-clamp(3);
  font-weight: 700;
}

.p-card-sidebar__date {
  display: inline-block;
  margin-top: 12px;
  @include global.fz(12);
  @include global.lh(1);
  white-space: nowrap;
}