@use "foundation/global";

// Project コンセプト
//--------------------------------------------------------------------------

.p-concept {
  position: relative;
}

.p-concept__inner {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  z-index: 1;

  @include global.mq(md) {
    flex-direction: row-reverse;
    align-items: center;
  }
}

.p-concept__picture {
  width: 100%;
  margin-top: 36px;

  @include global.mq(md) {
    max-width: 640px;
    margin-top: 0;
  }
}

.p-concept__img {
  width: 100%;
  @include global.object-fit(cover, center);
}

.p-concept__contents {
  @include global.mq(md) {
    margin-right: 6.36364%;
    max-width: 390px;
  }
}

.p-concept__title {
  @include global.fz(20, 28);
  @include global.lh(2, 2.14);
  font-weight: 700;
}

.p-concept__text {
  margin-top: 30px;
  @include global.fz(14);
  @include global.lh(2);

  @include global.mq(md) {
    margin-top: 23px;
  }
}

//--reverse
.p-concept--reverse {
  .p-concept__inner {
    @include global.mq(md) {
      flex-direction: row;
    }
  }

  .p-concept__contents {
    margin-right: 0;
    margin-left: 6.36364%;
  }
}
