@use "foundation/global";

// Project スペシャルランチの詳細
//--------------------------------------------------------------------------

.p-lunch-main {
  position: relative;
  padding: 38px 20px 20px;

  @include global.mq(md) {
    padding: 60px 40px 40px;
  }
}

.p-lunch-main__heading {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 290px;
  width: 100%;

  @include global.mq(md) {
    max-width: 350px;
  }
}

.p-lunch-main__balloon {
  position: absolute;
  top: -240px;
  right: -18px;
  z-index: 1;
  max-width: 205px;
  width: 100%;
  height: 107px;

  @include global.mq(md) {
    right: calc(50% - 300px);
    max-width: 300px;
    height: 160px;
    top: -290px;
  }

  @include global.mq(lg) {
    top: -72px;
    right: -33px;
  }
}

.p-lunch-main__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 860px;
  margin: auto;

  @include global.mq(1280px, min) {
    max-width: 100%;

    &::before {
      content: "";
      width: calc(25% - 20px * 3 / 4);
      order: 1;
    }

    &::after {
      content: "";
      width: calc(25% - 20px * 3 / 4);
    }
  }
}

.p-lunch-main__item {
  width: calc(50% - 20px / 2);
  margin-bottom: 18px;

  &:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }

  @include global.mq(md) {
    width: calc(50% - 40px / 2);
    margin-bottom: 40px;

    &:nth-last-child(-n + 4) {
    margin-bottom: 0;
  }
  }

  @include global.mq(1280px, min) {
    width: calc(25% - 20px * 3 / 4);

    &:nth-child(2n) {
      margin-top: 39px;
    }
  }
}

.p-lunch-main__bottom {
  margin-top: 18px;

  @include global.mq(md) {
    margin-top: 55px;
  }
}
