@use "foundation/global";

// Project スペシャルランチ
//--------------------------------------------------------------------------

.p-lunch {
  padding: 60px 0;
  background-color: global.$color-base01;

  @include global.mq(1280px, min) {
    padding: 80px 0;
  }
}

.p-lunch__inner {
  position: relative;
  max-width: 1280px;
  width: 100%;
  margin: auto;

  @include global.mq(md) {
    padding: 0 50px;
  }

  &::before {
    content: "";
    position: absolute;
    top: -240px;
    right: -33px;
    width: 119px;
    height: 135px;
    background-image: url(../img/webp/bg-leaves.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    @include global.browser("ie") {
      background-image: url(../img/common/bg-leaves.png);
    }

    @include global.browser("safari") {
      background-image: url(../img/common/bg-leaves.png);
    }

    @include global.mq(md) {
      top: -377px;
      width: 201px;
      height: 228px;
    }

    @include global.mq(lg) {
      top: -177px;
    }
  }
}

.p-lunch__contents {
  margin-top: 58px;
  background-color: global.$color-text-white;

  @include global.mq(md) {
    margin-top: 69px;
  }
}
