@use "foundation/global";

// Project メニュー リスト
//--------------------------------------------------------------------------

.p-menu-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.p-menu-list__item {
  width: calc(50% - 18px / 2);
  margin-bottom: 22px;

  @include global.mq(md) {
    width: calc(25% - 3.63% * 3 / 4);
    margin-bottom: 32px;
  }
}