@use "foundation/global";

// Project メインビジュアルのメニュー
//--------------------------------------------------------------------------

.p-mv-menu {
  width: 15.625%;
  padding: 28px 18px 0;
}

.p-mv-menu__logo {
  max-width: 163px;
  width: 100%;
  height: auto;
  margin: auto;
}

.p-mv-menu__logo-link {
  display: block;
  width: 100%;
}

.p-mv-menu__logo-icon {
  width: 100%;
  height: auto;
}

.p-mv-menu__nav {
  margin-top: 57px;
}

.p-mv-menu__sns {
  margin-top: 57px;
}
