@use "foundation/global";

// Project メインビジュアル
//--------------------------------------------------------------------------

.p-mv {
  position: relative;
  display: flex;
  width: 100%;
  height: auto;
}