@use "foundation/global";

// Project 店舗一覧
//--------------------------------------------------------------------------

.p-shop {
  &:not(:first-child) {
    margin-top: 60px;

    @include global.mq(md) {
      margin-top: 120px;
    }
  }
}

.p-shop__inner {
  max-width: 688px;
  width: 100%;
  margin: auto;
}

.p-shop__title {
  border-left: 6px solid global.$color-text-black;
  margin-bottom: 18px;
  padding-left: 8px;
  @include global.fz(20, 24);
  @include global.lh(1.2, 1.4); 
  font-weight: 700;

  @include global.mq(md) {
    margin-bottom: 24px;
    padding-left: 16px;
  }
}