<footer class="l-footer p-footer">
  <div class="p-footer__inner">
      <ul class="p-sns__list">
        <li class="p-sns__item p-sns__item--big">
          <a href="" class="p-sns__link">
            <svg class="c-svg p-sns__icon" width="24" height="24">
              <use xlink:href="/img/svg/sprite.min.svg#icon-twitter02" />
            </svg>
          </a>
        </li>
        <li class="p-sns__item p-sns__item--big">
          <a href="" class="p-sns__link">
            <svg class="c-svg p-sns__icon" width="24" height="24">
              <use xlink:href="/img/svg/sprite.min.svg#icon-instagram02" />
            </svg>
          </a>
        </li>
        <li class="p-sns__item p-sns__item--big">
          <a href="" class="p-sns__link">
            <svg class="c-svg p-sns__icon" width="24" height="24">
              <use xlink:href="/img/svg/sprite.min.svg#icon-youtube02" />
            </svg>
          </a>
        </li>
      </ul>
    <p class="p-footer__copyright"><small lang="en">©︎2000-2021 open cafe. All Rights Reserved.</small></p>
  </div>
</footer>

</div><!-- /wrapper -->

<% if (pageId==='home' ){ %>
<script src="//unpkg.com/swiper/swiper-bundle.min.js"></script>
<% } %>
<script src="/js/bundle.js"></script>
</body>

</html>